<p *ngIf="(cartItems$ | async)?.length==0 " class="empty-cart-message ">cart is empty!</p>
<div class="container row">
<div class="cart-item-details col-md-6">
<div *ngFor="let item of cartItems$ | async" class="">
  <div class="cart-item-details">
    <img src="{{item.url}}" alt="">
    <h3>{{ item.name }}</h3>
    <h2>{{item.price|currency}}</h2>
    <select class="number-input" (change)="updateCartItems(item)" >
      <option 
      *ngFor="let option of options; index as i"
      [selected]="option == item.quantity"
  >
      {{ option }}
  </option>
    </select>
  </div>
</div>
<h2>total : {{totalPrices$| async}}</h2>
</div>
<div class="col-md-6">
  <form class="" [formGroup]="cartForm" (ngSubmit)="confirmOrder()">
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input type="text" class="form-control" placeholder="" formControlName="name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Address</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" formControlName="address">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Credit Card Number</label>
      <input type="text" class="form-control"  aria-describedby="CardHelp" placeholder="" formControlName="cardNumber">
      <small id="CardHelp" class="form-text text-muted">We'll never share your card number with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</div>