
<div class="detail-container ">
    
    <img src="{{product.url}}" class="detail-item" alt="...">
    <h3 >{{product.name}}</h3>
    <h2 >{{product.price|currency}}</h2>
    <h4>{{product.description}}</h4>
     <select class="" [(ngModel)]="quantity" (ngModelChange)="changeQuantity($event)" >
      <option
      *ngFor="let option of options; index as i"
      [selected]="option == options[0]"
  >
      {{ option }}
  </option>
    </select>
    <button  class="btn btn-primary"  (click)="addToCart(product)">Add To Cart</button>
    <a routerLink="/">back to broduct list</a>

  </div>
  
  
  